@import '@oruga-ui/oruga-next/src/scss/utilities/variables';

$primary: #2563EB;
$danger: #E11D48;
$info: #0891B2;
$warning: #EAB308;
$success: #059669;

$css-vars: false;

@import '@oruga-ui/oruga-next/src/scss/oruga-full-vars';
